#header
	+background-image($hero-image, no-repeat, center, cover)
	position: relative
	height: 20rem
	background-color: $white
	border-bottom: solid 0.5rem $font-color
	text-align: center

	& > h1, #nav
		position: relative
		top: 50%
		transform: translateY(-50%)

	& > h1
		color: $white
		text-shadow: 2px 2px 0px $black

#nav
	padding-bottom: 2rem

	.nav-items
		display: inline-block

		&:not(:last-child)::after
			content: '|'
			margin: 0 1rem 0 1.2rem

		a
			color: $grey
			text-decoration: none
			text-shadow: 1px 1px 0px $black
			transition: color 350ms ease-in-out

			&:hover
				color: white
