#header
	position: relative
	padding: 1rem
	background-color: $white
	border-bottom: solid 0.5rem $font-color

#nav
	position: absolute
	top: 50%
	right: 1rem
	transform: translateY(-50%)

	& ul > li
		display: inline-block
